<?xml version='1.0' encoding='utf-8'?>
<robot name="DOUB_JEARM">
<link name="base_link">
    <inertial>
      <origin xyz="0.17289 -3.1568E-05 0.49895" rpy="0 0 0" />
      <mass value="34.376" />
      <inertia ixx="3.84" ixy="-7.0188E-05" ixz="0.029534" iyy="3.6687" iyz="0.00010448" izz="0.54186" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/base/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/base/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="left_base" />
  <joint name="left_base_joint" type="fixed">
    <origin xyz="-0.0445 -0.2126 0.9008" rpy="1.5708 -1.5708 0" />
    <parent link="base_link" />
    <child link="left_base" />
  </joint>

  <link name="right_base" />
  <joint name="right_base_joint" type="fixed">
    <origin xyz="-0.0445 0.2126 0.9008" rpy="1.5708 -1.5708 0" />
    <parent link="base_link" />
    <child link="right_base" />
  </joint>

  


  <link name="Link11">
    <inertial>
      <origin xyz="2.7836E-05 0.0032223 -0.0061763" rpy="0 0 0" />
      <mass value="0.15903" />
      <inertia ixx="0.00024741" ixy="1.7103E-07" ixz="-5.1201E-08" iyy="0.00018207" iyz="2.5958E-06" izz="0.00021676" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint11" type="revolute">
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <parent link="left_base" />
    <child link="Link11" />
    <axis xyz="0 0 1" />
    <limit lower="-5.1400" upper="5.1400" effort="100" velocity="3.9800" />
  </joint>
  <link name="Link12">
    <inertial>
      <origin xyz="1.3538E-07 -0.025603 0.0022931" rpy="0 0 0" />
      <mass value="0.24379" />
      <inertia ixx="0.00094174" ixy="7.9265E-10" ixz="2.0047E-09" iyy="0.00077932" iyz="7.4771E-06" izz="0.00032368" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint12" type="revolute">
    <origin xyz="-0.000300 0.001900 -0.000009" rpy="-1.576396 0.005000 -0.000028" />
    <parent link="Link11" />
    <child link="Link12" />
    <axis xyz="0 0 1" />
    <limit lower="-1.7535" upper="1.7700" effort="100" velocity="3.9800" />
  </joint>
  <link name="Link13">
    <inertial>
      <origin xyz="-0.0013392 0.00027359 -0.078005" rpy="0 0 0" />
      <mass value="0.24955" />
      <inertia ixx="0.00049972" ixy="-1.565E-07" ixz="2.0036E-05" iyy="0.00052699" iyz="-5.9993E-07" izz="0.00028114" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint13" type="revolute">
    <origin xyz="0.000067 -0.274597 0.001235" rpy="1.566296 0.006400 -0.000029" />
    <parent link="Link12" />
    <child link="Link13" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9600" upper="2.9600" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link14">
    <inertial>
      <origin xyz="0.0025298 -0.015986 -0.0037526" rpy="0 0 0" />
      <mass value="0.14036" />
      <inertia ixx="0.0004781" ixy="1.265E-05" ixz="-1.167E-06" iyy="0.00040537" iyz="8.4401E-06" izz="0.00017537" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link4.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint14" type="revolute">
    <origin xyz="-0.000009 0.001400 -0.000003" rpy="-1.572596 -0.001200 0.000002" />
    <parent link="Link13" />
    <child link="Link14" />
    <axis xyz="0 0 1" />
    <limit lower="-2.2284" upper="1.7679" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link15">
    <inertial>
      <origin xyz="1.2792E-07 -0.0016321 -0.052024" rpy="0 0 0" />
      <mass value="0.20346" />
      <inertia ixx="0.00028328" ixy="-9.1339E-10" ixz="1.3106E-09" iyy="0.00029079" iyz="8.3228E-06" izz="0.00023151" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link5.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint15" type="revolute">
    <origin xyz="0.000009 -0.218700 -0.000153" rpy="1.571496 0.000900 0.000001" />
    <parent link="Link14" />
    <child link="Link15" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9600" upper="2.9600" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link16">
    <inertial>
      <origin xyz="-4.9639E-08 -0.048851 0.0014891" rpy="0 0 0" />
      <mass value="0.13951" />
      <inertia ixx="0.00023544" ixy="8.0518E-10" ixz="-6.4098E-10" iyy="0.00016545" iyz="5.5234E-05" izz="0.00018838" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link6.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint16" type="revolute">
    <origin xyz="0.000200 0.000400 -0.000008" rpy="-1.572597 0.034300 -0.000062" />
    <parent link="Link15" />
    <child link="Link16" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5631" upper="1.4637" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link17">
    <inertial>
      <origin xyz="0.012652 0.00060356 0.067612" rpy="0 0 0" />
      <mass value="0.36915" />
      <inertia ixx="0.00044755" ixy="-1.4027E-07" ixz="5.8354E-06" iyy="0.00033738" iyz="-7.6821E-06" izz="0.00018678" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link7.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/left/l_link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint17" type="revolute">
    <origin xyz="-0.000500 -0.129600 -0.000163" rpy="1.571996 -0.014000 -0.000017" />
    <parent link="Link16" />
    <child link="Link17" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9600" upper="2.9600" effort="100" velocity="5.8600" />
  </joint>

  
  


  <link name="Link21">
    <inertial>
      <origin xyz="-2.7836E-05 0.0032223 0.0061763" rpy="0 0 0" />
      <mass value="0.15903" />
      <inertia ixx="0.00024741" ixy="-1.7103E-07" ixz="-5.1201E-08" iyy="0.00018207" iyz="-2.5958E-06" izz="0.00021676" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint21" type="revolute">
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 -0.000000 0.000000" />
    <parent link="right_base" />
    <child link="Link21" />
    <axis xyz="0 0 1" />
    <limit lower="-5.1400" upper="5.1400" effort="100" velocity="3.9800" />
  </joint>
  <link name="Link22">
    <inertial>
      <origin xyz="-1.6327E-07 -0.025603 -0.0022931" rpy="0 0 0" />
      <mass value="0.24379" />
      <inertia ixx="0.00094174" ixy="-7.9265E-10" ixz="2.0047E-09" iyy="0.00077932" iyz="-7.4771E-06" izz="0.00032368" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint22" type="revolute">
    <origin xyz="-0.001200 0.000900 -0.000006" rpy="1.578797 -0.011200 -0.000090" />
    <parent link="Link21" />
    <child link="Link22" />
    <axis xyz="0 0 1" />
    <limit lower="-1.8100" upper="1.8100" effort="100" velocity="3.9800" />
  </joint>
  <link name="Link23">
    <inertial>
      <origin xyz="-0.0013392 -0.00027359 0.078005" rpy="0 0 0" />
      <mass value="0.24955" />
      <inertia ixx="0.00049972" ixy="1.565E-07" ixz="-2.0036E-05" iyy="0.00052699" iyz="-5.9993E-07" izz="0.00028114" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint23" type="revolute">
    <origin xyz="0.001400 -0.271542 0.005632" rpy="-1.591497 -0.007498 0.000155" />
    <parent link="Link22" />
    <child link="Link23" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1400" upper="3.1400" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link24">
    <inertial>
      <origin xyz="0.0025298 -0.015986 -0.0037526" rpy="0 0 0" />
      <mass value="0.14036" />
      <inertia ixx="0.0004781" ixy="1.265E-05" ixz="-1.167E-06" iyy="0.00040537" iyz="8.4401E-06" izz="0.00017537" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link4.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint24" type="revolute">
    <origin xyz="-0.000008 0.000800 0.000003" rpy="1.573898 0.027600 0.000086" />
    <parent link="Link23" />
    <child link="Link24" />
    <axis xyz="0 0 1" />
    <limit lower="-2.2000" upper="1.8000" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link25">
    <inertial>
      <origin xyz="1.2792E-07 0.0016321 0.052024" rpy="0 0 0" />
      <mass value="0.20346" />
      <inertia ixx="0.00028328" ixy="9.1339E-10" ixz="-1.3106E-09" iyy="0.00029079" iyz="8.3228E-06" izz="0.00023151" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link5.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint25" type="revolute">
    <origin xyz="0.000008 -0.218898 0.000832" rpy="-1.574597 0.020700 -0.000079" />
    <parent link="Link24" />
    <child link="Link25" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1400" upper="3.1400" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link26">
    <inertial>
      <origin xyz="-4.9639E-08 -0.048851 0.0014891" rpy="0 0 0" />
      <mass value="0.13951" />
      <inertia ixx="0.00023544" ixy="8.0518E-10" ixz="-6.4098E-10" iyy="0.00016545" iyz="5.5234E-05" izz="0.00018838" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link6.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint26" type="revolute">
    <origin xyz="-0.000300 -0.000200 -0.000007" rpy="1.572497 -0.022300 -0.000038" />
    <parent link="Link25" />
    <child link="Link26" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5800" upper="1.5400" effort="100" velocity="5.5500" />
  </joint>
  <link name="Link27">
    <inertial>
      <origin xyz="0.012652 0.00064615 -0.067442" rpy="0 0 0" />
      <mass value="0.36915" />
      <inertia ixx="0.00044759" ixy="3.5408E-08" ixz="-5.838E-06" iyy="0.00033738" iyz="7.6361E-06" izz="0.00018678" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link7.STL" />
      </geometry>
      <material name="">
        <color rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://my_jearm_moveit_config/config/meshes/right/r_link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint27" type="revolute">
    <origin xyz="-0.000198 -0.129400 0.000051" rpy="-1.571402 -0.131900 0.000080" />
    <parent link="Link26" />
    <child link="Link27" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1400" upper="3.1400" effort="100" velocity="5.8600" />
  </joint>

  <ros2_control name="jearm_system" type="system">
    <hardware>
      <plugin>je_software/JeZmqSystemHardware</plugin>
      <param name="robot_ip">192.168.0.99</param>
      <param name="pub_port">8001</param>
      <param name="sub_port">8000</param>
      <param name="command_dt">0.01</param>
      <param name="gripper_sub_topic">/end_effector_cmd_lr</param>
    </hardware>

    <joint name="joint11">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint12">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint13">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint14">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint15">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint16">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint17">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <joint name="joint21">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint22">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint23">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint24">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint25">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint26">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="joint27">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
  </ros2_control>
</robot>