<?xml version="1.0" encoding="utf-8"?>
<robot name="DOUB_JEARM">
<link
    name="base_link">
    <inertial>
      <origin
        xyz="0.17289 -3.1568E-05 0.49895"
        rpy="0 0 0" />
      <mass
        value="34.376" />
      <inertia
        ixx="3.84"
        ixy="-7.0188E-05"
        ixz="0.029534"
        iyy="3.6687"
        iyz="0.00010448"
        izz="0.54186" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/base/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/base/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link
    name="left_base" />
  <joint
    name="left_base_joint"
    type="fixed">
    <origin
      xyz="-0.0445 -0.2126 0.9008"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="left_base" />
  </joint>

  <link
    name="right_base" />
  <joint
    name="right_base_joint"
    type="fixed">
    <origin
      xyz="-0.0445 0.2126 0.9008"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="right_base" />
  </joint>

  <!-- Left arm -->


  <link
    name="Link11">
    <inertial>
      <origin
        xyz="2.7836E-05 0.0032223 -0.0061763"
        rpy="0 0 0" />
      <mass
        value="0.15903" />
      <inertia
        ixx="0.00024741"
        ixy="1.7103E-07"
        ixz="-5.1201E-08"
        iyy="0.00018207"
        iyz="2.5958E-06"
        izz="0.00021676" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint11"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_base" />
    <child
      link="Link11" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link12">
    <inertial>
      <origin
        xyz="1.3538E-07 -0.025603 0.0022931"
        rpy="0 0 0" />
      <mass
        value="0.24379" />
      <inertia
        ixx="0.00094174"
        ixy="7.9265E-10"
        ixz="2.0047E-09"
        iyy="0.00077932"
        iyz="7.4771E-06"
        izz="0.00032368" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12"
    type="revolute">
    <origin
      xyz="-0.003618304232 0.002800664499 -0.000020332110"
      rpy="-1.578055952076 0.001477645909 -0.000010727340" />
    <parent
      link="Link11" />
    <child
      link="Link12" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.85"
      upper="1.8"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link13">
    <inertial>
      <origin
        xyz="-0.0013392 0.00027359 -0.078005"
        rpy="0 0 0" />
      <mass
        value="0.24955" />
      <inertia
        ixx="0.00049972"
        ixy="-1.565E-07"
        ixz="2.0036E-05"
        iyy="0.00052699"
        iyz="-5.9993E-07"
        izz="0.00028114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint13"
    type="revolute">
    <origin
      xyz="0.002577761227 -0.271180901646 0.002201772484"
      rpy="1.562677256935 0.003380507847 -0.000027447130" />
    <parent
      link="Link12" />
    <child
      link="Link13" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.96"
      upper="2.96"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link14">
    <inertial>
      <origin
        xyz="0.0025298 -0.015986 -0.0037526"
        rpy="0 0 0" />
      <mass
        value="0.14036" />
      <inertia
        ixx="0.0004781"
        ixy="1.265E-05"
        ixz="-1.167E-06"
        iyy="0.00040537"
        iyz="8.4401E-06"
        izz="0.00017537" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint14"
    type="revolute">
    <origin
      xyz="-0.008039033242 0.000263254982 -0.000000669832"
      rpy="-1.573340747986 0.001973845457 -0.000005022302" />
    <parent
      link="Link13" />
    <child
      link="Link14" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.26"
      upper="1.82"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link15">
    <inertial>
      <origin
        xyz="1.2792E-07 -0.0016321 -0.052024"
        rpy="0 0 0" />
      <mass
        value="0.20346" />
      <inertia
        ixx="0.00028328"
        ixy="-9.1339E-10"
        ixz="1.3106E-09"
        iyy="0.00029079"
        iyz="8.3228E-06"
        izz="0.00023151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint15"
    type="revolute">
    <origin
      xyz="0.007549404638 -0.219291199652 -0.000810881595"
      rpy="1.574494058691 -0.002310478327 -0.000008543561" />
    <parent
      link="Link14" />
    <child
      link="Link15" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.96"
      upper="2.96"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link16">
    <inertial>
      <origin
        xyz="-4.9639E-08 -0.048851 0.0014891"
        rpy="0 0 0" />
      <mass
        value="0.13951" />
      <inertia
        ixx="0.00023544"
        ixy="8.0518E-10"
        ixz="-6.4098E-10"
        iyy="0.00016545"
        iyz="5.5234E-05"
        izz="0.00018838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint16"
    type="revolute">
    <origin
      xyz="0.000169969851 0.001161741697 -0.000003374674"
      rpy="-1.573702441570 0.029711882558 -0.000086333680" />
    <parent
      link="Link15" />
    <child
      link="Link16" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.6"
      upper="1.55"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link17">
    <inertial>
      <origin
        xyz="0.012652 0.00060356 0.067612"
        rpy="0 0 0" />
      <mass
        value="0.36915" />
      <inertia
        ixx="0.00044755"
        ixy="-1.4027E-07"
        ixz="5.8354E-06"
        iyy="0.00033738"
        iyz="-7.6821E-06"
        izz="0.00018678" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/left/l_link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint17"
    type="revolute">
    <origin
      xyz="-0.000213373503 -0.129044569401 -0.000248313607"
      rpy="1.572720684130 -0.010830083632 -0.000020840569" />
    <parent
      link="Link16" />
    <child
      link="Link17" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.96"
      upper="2.96"
      effort="100"
      velocity="3.14" />
  </joint>

  
  <!-- Right arm -->


  <link
    name="Link21">
    <inertial>
      <origin
        xyz="-2.7836E-05 0.0032223 0.0061763"
        rpy="0 0 0" />
      <mass
        value="0.15903" />
      <inertia
        ixx="0.00024741"
        ixy="-1.7103E-07"
        ixz="-5.1201E-08"
        iyy="0.00018207"
        iyz="-2.5958E-06"
        izz="0.00021676" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint21"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_base" />
    <child
      link="Link21" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-5.14"
      upper="5.14"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link22">
    <inertial>
      <origin
        xyz="-1.6327E-07 -0.025603 -0.0022931"
        rpy="0 0 0" />
      <mass
        value="0.24379" />
      <inertia
        ixx="0.00094174"
        ixy="-7.9265E-10"
        ixz="2.0047E-09"
        iyy="0.00077932"
        iyz="-7.4771E-06"
        izz="0.00032368" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint22"
    type="revolute">
    <origin
      xyz="-0.002432052083 0.002185646404 0.000015291728"
      rpy="1.577793055631 -0.010832281600 -0.000075790291" />
    <parent
      link="Link21" />
    <child
      link="Link22" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.86"
      upper="1.82"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link23">
    <inertial>
      <origin
        xyz="-0.0013392 -0.00027359 0.078005"
        rpy="0 0 0" />
      <mass
        value="0.24955" />
      <inertia
        ixx="0.00049972"
        ixy="1.565E-07"
        ixz="-2.0036E-05"
        iyy="0.00052699"
        iyz="-5.9993E-07"
        izz="0.00028114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint23"
    type="revolute">
    <origin
      xyz="0.001734034519 -0.270155238592 0.006269796108"
      rpy="-1.594000958131 -0.007617614448 0.000176793957" />
    <parent
      link="Link22" />
    <child
      link="Link23" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.96"
      upper="2.96"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link24">
    <inertial>
      <origin
        xyz="0.0025298 -0.015986 -0.0037526"
        rpy="0 0 0" />
      <mass
        value="0.14036" />
      <inertia
        ixx="0.0004781"
        ixy="1.265E-05"
        ixz="-1.167E-06"
        iyy="0.00040537"
        iyz="8.4401E-06"
        izz="0.00017537" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint24"
    type="revolute">
    <origin
      xyz="-0.008052611788 -0.000617648529 -0.000001194446"
      rpy="1.572730887114 0.026955963719 0.000052141688" />
    <parent
      link="Link23" />
    <child
      link="Link24" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.27"
      upper="1.8"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link25">
    <inertial>
      <origin
        xyz="1.2792E-07 0.0016321 0.052024"
        rpy="0 0 0" />
      <mass
        value="0.20346" />
      <inertia
        ixx="0.00028328"
        ixy="9.1339E-10"
        ixz="-1.3106E-09"
        iyy="0.00029079"
        iyz="8.3228E-06"
        izz="0.00023151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint25"
    type="revolute">
    <origin
      xyz="0.008322677408 -0.218695828883 -0.000046340328"
      rpy="-1.570584385430 0.021148517040 0.000004481912" />
    <parent
      link="Link24" />
    <child
      link="Link25" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.96"
      upper="2.96"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link26">
    <inertial>
      <origin
        xyz="-4.9639E-08 -0.048851 0.0014891"
        rpy="0 0 0" />
      <mass
        value="0.13951" />
      <inertia
        ixx="0.00023544"
        ixy="8.0518E-10"
        ixz="-6.4098E-10"
        iyy="0.00016545"
        iyz="5.5234E-05"
        izz="0.00018838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint26"
    type="revolute">
    <origin
      xyz="0.000260228939 -0.000186710496 -0.000000041703"
      rpy="1.571019733087 -0.020689877062 -0.000004621919" />
    <parent
      link="Link25" />
    <child
      link="Link26" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.6"
      upper="1.55"
      effort="100"
      velocity="3.14" />
  </joint>
  <link
    name="Link27">
    <inertial>
      <origin
        xyz="0.012652 0.00064615 -0.067442"
        rpy="0 0 0" />
      <mass
        value="0.36915" />
      <inertia
        ixx="0.00044759"
        ixy="3.5408E-08"
        ixz="-5.838E-06"
        iyy="0.00033738"
        iyz="7.6361E-06"
        izz="0.00018678" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.81961 0.81961 0.81961 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_jearm_moveit_config/config/meshes/right/r_link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint27"
    type="revolute">
    <origin
      xyz="-0.000623537028 -0.129477191461 0.000055933872"
      rpy="-1.571232110251 -0.131905287446 0.000057315602" />
    <parent
      link="Link26" />
    <child
      link="Link27" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.96"
      upper="2.96"
      effort="100"
      velocity="3.14" />
  </joint>

  <ros2_control name="jearm_system" type="system">
    <hardware>
      <plugin>je_software/JeZmqSystemHardware</plugin>
      <param name="robot_ip">192.168.0.99</param>
      <param name="pub_port">8001</param>
      <param name="sub_port">8000</param>
      <param name="command_dt">0.01</param>
      <param name="gripper_sub_topic">/end_effector_cmd_lr</param>
    </hardware>

    <joint name="joint11">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint12">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint13">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint14">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint15">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint16">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint17">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint21">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint22">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint23">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint24">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint25">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint26">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="joint27">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
</robot>
